* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #82616d;
}

#left {
  overflow: hidden;
  position: relative;
  width: 45%;
  height: 100%;
}

#mtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#mtext h1 {
  white-space: nowrap;
  user-select: none;
  font-weight: 100;
  font-family: "Voyage";
  font-size: 9vw;
  line-height: 1;
  color: #fff;
}

#mtext h3 {
  white-space: nowrap;
  user-select: none;
  font-weight: 100;
  font-family: "Voyage";
  font-size: 4vw;
  line-height: 1;
  color: #fff;
}

#nav {
  display: flex;
  padding: 50px 60px;
  align-items: center;
  color: #fff;
  gap: 100px;
}
#nav h3 {
  font-size: 400;
}

#nav a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

#centerimg {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://images.unsplash.com/photo-1609505848912-b7c3b8b4beda?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

#centerimg #text {
  display: flex;
  position: absolute;
  width: 100%;
  top: 110%;
  color: #fff;
  gap: 15px;
}

#text #parts {
  width: 30%;
}

#parts h5 {
  margin-bottom: 7px;
}

#text #para {
  width: 70%;
}

#para p {
  font-weight: 300;
  line-height: 16px;
  font-size: 12px;
}

#scroll {
  position: absolute;
  bottom: 0;
  left: 10%;
  transform-origin: 0% 50%;
  transform: rotate(-90deg);
  gap: 20px;
  display: flex;
  align-items: center;
}

#scroll #line {
  width: 200px;
  height: 2px;
  background-color: #fff;
}

#scroll h4 {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}

#center {
  position: relative;
  width: 45%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?q=80&w=1727&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

#center #card {
  display: flex;
  position: absolute;
  right: -10%;
  bottom: 10%;
  width: 270px;
  height: 160px;
}

#card #cicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 100%;
  background-color: #fff;
}

#card #cimg {
  width: 80%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1615498394599-130967ecb0a5?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

#right {
  width: 10%;
  height: 100%;
}
